$primary-color: #143892;
$primary-color-dark: #061328;
$secondary-color: #00f2ff;

$color-grey-dark: #333;
$color-grey-light: #dcdcdc;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;
