$primary-color: #143892;
$primary-color-dark: #0b1e4f;

$secondary-color: #00f2ff;
$secondary-color-dark: #00bdc7;

$color-grey-dark-1: #333;
$color-grey-dark-2: #404040;

$color-grey-light: #dcdcdc;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;

// _spacing

$space-section: 12rem;
$space-title: 4.8rem;
$space-content: 3.2rem;
$space-between: 2.4rem;

// shadow
$shadow: 0 1rem 2rem rgba($color-black, 0.2);
