.hero {
  // Layout and structure

  padding: 2rem;
  max-width: 128rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;

  &__txt-box {
    color: $color-white;
    text-align: center;
  }

  &__buttons {
    z-index: 30;
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
  }

  &__img-box {
    text-align: end;
  }

  &__img-1 {
    align-self: flex-end;
    justify-self: flex-end;
    width: 70%;
    height: auto;
  }
}
