.blog {
  display: flex;
  overflow: hidden;

  &__navigation {
    gap: 2rem;

    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    margin-top: auto;
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 2rem;
  }

  &__cards {
    overflow-y: hidden;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    padding: 3rem 2rem;

    display: flex;
    flex: 2;
    gap: $space-content;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, Edge
    }
  }

  &__card {
    flex: 0 0 auto;
    width: 38rem;
    height: 50rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.3);

    // &:not(:last-child) {
    //   margin-right: $space-content;
    // }

    .lable-txt {
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines you want */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__card-link {
    text-decoration: none;
  }

  &__img-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40%;

    &::after {
      content: "";
      height: 100%;
      z-index: 20;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px;
      background-color: rgba($color: $primary-color, $alpha: 0.3);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  &__catagory {
    color: lighten($color: $color-grey-dark-1, $amount: 15%);
    padding: 1.4rem 2rem 0 0;
    text-align: end;
  }

  &__title-sec {
    gap: $space-between;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.blog__nav {
}
