.btn {
  &:link,
  &:visited {
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 100px;

    position: relative;

    border: none;
    cursor: pointer;
  }

  &--primary {
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: $color-black;
    transition: all 0.3s ease-in-out;
    color: darken($primary-color, 15%);

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -100;
      background-color: $color-white;

      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      background-color: $color-white;

      &::after {
        transform: scaleX(1.2) scaleY(1.4);
        opacity: 0;
      }
    }
  }

  &--secondary {
    // outline: solid 2px $secondary-color;
    background-color: $primary-color;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: $color-black;
    transition: all 0.3s ease-in-out;
    color: $color-white;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -100;
      background-color: $primary-color;

      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      background-color: $primary-color;

      &::after {
        transform: scaleX(1.2) scaleY(1.4);
        opacity: 0;
      }
    }
  }

  &--outlined {
    position: relative;
    background-color: transparent;
    color: darken($primary-color, 15%);
    outline: 2px solid $color-grey-dark-1;
    filter: drop-shadow(0 0.5rem 1rem rgba($color-black, 0.5));
    overflow: hidden; // ⬅️ Needed to keep pseudo-element inside
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all 0.3s;
      // Safari support
      inset: 0;

      background-color: rgba(69, 216, 243, 0.3); // Glassy tint
      z-index: -5;
    }

    z-index: 1;

    &:hover {
      outline: 2px solid $secondary-color;
      box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
    }

    &:hover::after {
      // Stronger glass on hover
      transform: translateX(0%);
    }
  }

  &--text {
    font-size: $default-font-size;
    color: $primary-color;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem !important;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    border-bottom: 5px solid $primary-color;
    border-radius: 0 !important;
    transition: all 0.3s;

    z-index: 3;

    &::before {
      content: "";
      background-color: $primary-color;
      position: absolute;

      height: 110%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;

      transform: translateY(94%);
      transition: all 0.3s ease;
    }

    &:hover::before {
      z-index: -1;

      transform: translateY(0);
    }

    &:hover {
      border-radius: 6px !important;

      color: $color-white;
      box-shadow: 0 1.5rem 2rem rgba($color: $color-black, $alpha: 0.15);
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color: $color-black, $alpha: 0.15);
      transform: translateY(0);
    }
  }
}
