.featured__card {
  background-color: rgba($color: $color-white, $alpha: 0.9);
  border-radius: 1.6rem;
  box-shadow: 0 1rem 2 rem rgba($color-black, 0.2);
  padding: 2rem;
  max-width: 30rem;
  display: grid;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: start;
  transition: all 0.3s ease-in-out;

  img {
    width: 20%;
    height: auto;
  }

  &:hover {
    background-color: $secondary-color;
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 2.9rem 3rem rgba($secondary-color, 0.3);
  }
}
