.featured {
  &__card {
    border-radius: 1.6rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    padding: 2rem;
    max-width: 35rem;
    display: grid;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: start;
    transition: all 0.3s ease-in-out;

    img {
      width: 12%;
      height: auto;
    }

    &:hover {
      // background-image: linear-gradient(
      //   to bottom,
      //   #2b7bcc,
      //   rgba(#021c5e, 0.3) 45%
      // );
      border: 2px solid $secondary-color;
      background-color: rgba(69, 216, 243, 0.3);
      transform: translateY(-5px) scale(1.02);
    }

    // &:hover {
    //   background-color: lighten($secondary-color, 30%);
    //   transform: translateY(-5px) scale(1.02);
    //   box-shadow: 0 2.9rem 3rem rgba($secondary-color, 0.3);
    // }
  }

  &__text {
    & h3 {
      font-size: 3.2rem;
    }
    max-width: 42rem;
    align-self: flex-end;
  }
}

.services {
  &__card {
    border-radius: 1.6rem;
    padding: 4rem;
    max-width: 35rem;
    display: grid;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: start;
    transition: all 0.3s ease-in-out;

    img {
      width: 20%;
      height: auto;
    }

    &:hover {
      // background-image: linear-gradient(
      //   to bottom,
      //   #2b7bcc,
      //   rgba(#021c5e, 0.3) 45%
      // );
      border: 2px solid $secondary-color;
      background-color: rgba(69, 216, 243, 0.3);
      transform: translateY(-5px) scale(1.02);
    }
  }
}

.trust {
  &__cards-box {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  &__card {
    display: flex;
    width: 28rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 1rem;
  }

  &__icon {
    padding: 1.4rem;
    height: 6rem;
    width: 6rem;
    object-fit: contain;
    background-color: $primary-color;
    border-radius: 5px;
  }
}

.workflow {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  &__card {
    width: 20rem;
  }

  &__card-title {
    line-height: normal;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
  }

  &__card-title span {
    opacity: 0.58;
    line-height: normal;

    font-size: 4.8rem;
  }
}
