.blog {
  display: flex;
  overflow: hidden;
  gap: 2rem;
  justify-content: start;

  &__navigation {
    gap: 2rem;

    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    margin-top: auto;
  }

  &__nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 35rem;

    padding: 2rem;
  }

  &__cards {
    display: flex;
    flex: 1;
    min-width: 48rem;
    align-items: start;
    gap: $space-content;
    padding: 3rem 4rem;
    // background-color: rgb(217, 236, 240);
    border-radius: 14px;
    // height: 52rem;

    overflow-x: auto; /* enable horizontal scroll */
    overflow-y: hidden;

    user-select: none;
    -webkit-user-select: none;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 2rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    flex: 0 0 auto;
    width: 44rem;
    // height: 50rem;\
    border: transparent solid 2px;
    border-radius: 8px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: $shadow;
    scroll-snap-align: start;
    transition: transform 0.3s ease, border 0.3s ease;

    a {
      text-decoration: inherit;
    }

    &:hover {
      transform: translateY(-3px);
      border: var(--color-primary) solid 2px;
    }
  }

  &__card-content {
    padding: 2rem;
    text-decoration: none;
  }

  &__card-catagory {
    display: flex;
    justify-content: space-between;
  }

  &__card-text {
    margin-bottom: $space-between;
  }

  // &__card-link {
  //   text-decoration: none;
  //   margin-top: $space-content * 2;
  // }

  &__img-box {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 23rem;

    &::after {
      content: "";
      height: 100%;
      z-index: 20;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px;
      background-color: rgba($color: var(--color-primary), $alpha: 0.3);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    object-fit: cover;
  }

  &__catagory {
    color: var(--color-grey-light-2);
    text-align: end;
  }
}

.blog__nav {
}

.comment {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  position: relative;
}

// .replies {
//   margin-left: 30px;
//   border-left: 2px solid #ddd;
//   padding-left: 20px;
// }

.reply-btn {
  background: none;
  border: none;
  color: #0066cc;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

// .reply-form {
//   margin: 15px 0;
//   padding: 15px;
//   background: #f8f9fa;
//   border-radius: 8px;
// }

.comment {
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-top: 10px;
}

.reply-btn,
.toggle-replies-btn {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.replies {
  margin-top: 10px;
}

.reply {
  width: 50%;
}
