.footer {
  padding-top: $space-section;
  background-image: var(--color-primary);
  color: var(--color-text);
  border-radius: 5rem 5rem 0 0;
  @include flex-center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .separator {
    align-self: center;
    background-color: var(--color-grey-light);
  }

  &__container {
    display: flex;
    align-content: start;
    flex-direction: column;
  }

  &__txt-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: $space-between;
    align-items: start;

    .logo {
      fill: var(--color-text);
    }
  }

  &__midle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-block: $space-content;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: $space-between;

    &:last-child {
      // min-width: 32rem;
      flex-grow: 1;
    }
  }

  .lists {
    list-style: none;
  }

  .list-item {
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: var(--color-secondary);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p,
    a {
      font-size: 1.4rem;
      color: var(--color-grey-dark-2);
    }
  }
}
