.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__group {
    // text-align: end;
    button {
      align-self: flex-end;
    }
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light);
    border: none;
    transition: all 0.3s;
    border-bottom: 3px solid transparent;
    border-radius: 10px;
    width: 100%;
    display: block;
    transition: border-bottom-color 0.3s;
    resize: vertical;

    &:focus {
      outline: none;
      border: none;
      border-bottom: 3px solid var(--color-primary);
      box-shadow: var(--shadow) inset;
    }

    &:focus:invalid {
      border-bottom: 3px solid $secondary-color-dark;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-2);
    }
  }

  &__lable {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
    display: block;
  }

  &__input:placeholder-shown + &__lable {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
