.featured-post {
  &__highlights-box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 2rem;
    row-gap: $space-between;
    margin-top: 4rem;
  }

  &__highlight {
    display: grid;
    grid-template-columns: 1fr 5fr;

    .lable-txt {
      font-weight: 600;
    }

    svg {
      width: 70%;
      height: 70%;
      stroke: $primary-color;
    }

    img {
      width: 60%;
      height: 60%;
    }
  }
}

.abouts {
  &__features {
    display: flex;
    justify-content: space-between;
  }

  &__feature {
    display: flex;
    gap: $space-between;
  }

  &__highlights {
    padding-top: $space-section;
  }
}
