.featured-post {
  &__img-box {
    img {
      position: relative;
      right: -20rem;
      bottom: 0;
      width: 100%;
      display: block;
    }
  }
}

.abouts {
  &__img-box {
    // width: 30rem;
    img {
      position: relative;
      left: -26rem;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // &__logos {
  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }
}
