/* Remove fixed positioning and center alignment */
.path-container {
  width: 100%;
  position: sticky;
  top: 2rem;
  margin: 0 auto;

  &--footer {
    position: absolute;
    top: 0;
    // background-color: #5f7652;
  }
}

.base-path {
  stroke: var(--color-grey-light);
  stroke-width: 3;
  fill: none;
}

.svg-container {
  height: 50vh;
}

.fill-path {
  stroke: var(--color-primary);
  stroke-width: 5;
  fill: none;
}

.green-path {
  stroke: yellow;

  background-color: yellow;
}
