.featured-post {
  &__img-box {
    img {
      position: relative;
      right: -20rem;
      bottom: 0;
      width: 100%;
      display: block;
    }
  }
}

.abouts {
  &__img-box {
    img {
      position: relative;
      left: -26rem;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // &__logos {
  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }
}

.visual {
  width: 35%;
  height: 100%;
  background-size: contain;

  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -20;

  &-right {
    right: 0;
  }

  &-left {
    left: 0 !important;
  }

  &-camera {
    background-image: url(../../assets/images/img-camera.png);
  }

  &-device {
    background-image: url(../../assets/images/Mask\ Group\ 20.png);
  }
}
