*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
}

.wavy {
  will-change: transform, opacity;
}

html {
  font-size: 62.5%;

  @include respond-down(break1) {
    font-size: 56.25%;
  }

  @include respond-down(break2) {
    font-size: 50%;
  }

  @include respond-down(break3) {
    font-size: 43.75%;
  }

  @include respond-down(break4) {
    font-size: 41.7%;
  }
}

body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  background-color: var(--color-background);
  color: var(--text-color);
}

:root {
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;
}

#smooth-wrapper {
  height: 100vh;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
}
