.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-top-extra-large {
  margin-top: 10rem !important;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;

  @include respond-down("break4") {
    max-width: 96%;
  }

  @include respond-down("break") {
    max-width: 68rem;
  }
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background-color: var(--color-glass); /* Make it semi-transparent */
  border: 1px solid var(--color-glass-border);
}
