@use "../abstracts/mixins";
@use "../abstracts/variables";

.section-blog-detail {
  padding-bottom: variables.$space-section;
  display: grid;
  grid-template-rows: auto auto;
}

.blog-detail {
  // background-color: #774979;
  padding-top: variables.$space-section;
  // overflow: hidden;

  &__title {
    width: 100%;
    margin-bottom: variables.$space-between;
  }

  &__img {
    width: 100%;
    height: 46rem;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: variables.$space-content;
    // background-color: green;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__content {
    display: flex;
    // grid-template-columns: 1fr auto;
    // background-color: #497972;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    gap: 0;
    align-items: start;
  }

  &__detail {
    box-shadow: 0 0 1rem rgba($color: variables.$color-black, $alpha: 0.1);
    width: 70%;
    padding: variables.$space-between;

    padding-block: variables.$space-content;
  }

  &__post {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
  }

  figure {
    width: 100%;
    border-radius: 16px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &__cards {
    max-width: 35rem;
    width: 100%;
    display: inline;
    // background-color: yellow;
    .scroll-spacer {
      display: none;
    }
    .featured-cards {
      display: flex;
      flex-direction: column;
      gap: variables.$space-content;
    }
  }

  &__category-chip {
    display: inline-block;
    padding: 5px 12px;
    margin-right: 8px;
    border-radius: 16px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

    &:first-child {
      margin-left: variables.$space-content;
    }
  }

  @include mixins.respond-down("break4") {
    &__content {
      // flex-direction: column;
      // width: 100%;
    }

    &__detail {
      width: 100%;
      padding: variables.$space-content;
    }

    &__cards {
      width: 100%;
      // overflow: hidden;
      padding-top: variables.$space-content;
      .featured-cards {
        flex-direction: row;
      }
    }
  }
}

.featured > h3 {
  color: #808080;
}

.blog-img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.comments {
  // width: 50%;
  padding-inline: variables.$space-content;
}

.comment-form {
  // width: 50%;
  padding-inline: variables.$space-content;
}

.comment {
  // background-color: green;
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-top: 10px;
}

.reply-btn,
.toggle-replies-btn {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.replies {
  margin-top: 10px;
}

.reply {
  width: 50%;

  @include mixins.respond-down("break4") {
    width: 100%;
  }
}
