.hero {
  // Layout and structure
  padding: 2rem;
  max-width: 128rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;

  &__buttons {
    z-index: 30;
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
  }

  &__img-box {
    align-self: center; /* Or center */
    justify-self: end;
    width: 70%;
    padding: 2rem;
    border-radius: 1.5rem;
    display: inline-block;
    border: 1px solid var(--color-grey-light);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: #0b58933a;
  }

  &__img-1 {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%; /* optional */
  }
}

.section-core-features {
  @include flex-center;
  padding-bottom: $space-section;
  .core-features {
    display: flex;
    position: relative;
    top: -6rem;
    gap: $space-between;
    // align-items: end;

    &__text {
      align-self: flex-end;
    }
  }
}

.work {
  display: flex;
  padding-top: $space-section;
  position: relative;
  &__content {
    width: 50%;
    position: relative;
    left: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
}

.section-brands {
  padding-top: $space-section;
  width: 100%;
}

.section-services {
  width: 100%;
  padding-top: $space-section;
  background-image: linear-gradient(
    to bottom,
    var(--color-background),
    rgba(#3671ea, 0.8),
    var(--color-background)
  );
  .services {
    padding-bottom: $space-section;
    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      column-gap: 2rem;
      row-gap: 4rem;
    }
  }
}

.section-stats {
  padding-block: $space-section;
  @include flex-center;
}

.section-showcase {
  @include flex-center;
  padding-block: $space-section;
}

.section-trust {
  padding-block: $space-section;
  position: relative;

  .trust {
    display: flex;
    flex-direction: column;

    &__title {
      width: 50%;
    }

    &__btn {
      align-self: center;
    }
  }
}

.section-contacts {
  margin-block: $space-section;
  position: relative;
}

.section-blog {
  padding-block: $space-section;
  // display: flex;
  padding-left: $space-content;
  justify-content: start;
}
