.hero {
  // Layout and structure
  padding: 2rem;
  max-width: 128rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;

  &__buttons {
    z-index: 30;
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
  }

  &__img-box {
    text-align: end;
  }

  &__img-1 {
    width: 70%;
    height: auto;
  }
}

.section-featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .featured__cards-box {
    position: relative;
    top: -6rem;
    @include container-size;
    display: flex;
    gap: $space-between;
    justify-content: space-between;
  }

  .featured-post {
    padding-top: $space-section;
    display: flex;
    position: relative;

    &__text-box {
      width: 50%;
      padding-bottom: $space-section;
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}

.section-services {
  width: 100%;
  padding-top: $space-section;
  background-image: linear-gradient(
    to bottom,
    $color-white,
    rgba(#3671ea, 0.8),
    $color-white
  );
  .services {
    padding-bottom: $space-section;
    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      column-gap: 2rem;
      row-gap: 4rem;
    }
  }
}

.section-abouts {
  // width: 100%;
  padding-top: $space-section;
  position: relative;

  .abouts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: start;

    &__wrapper {
      position: relative;
    }

    &__text-box {
      justify-self: flex-end;
      width: 50%;
    }
  }
}

.trust {
  display: flex;
  flex-direction: column;
  padding-top: $space-section;

  &__subtitle {
    width: 75%;
  }

  &__btn {
    align-self: flex-end;
  }
}

.section-workflow {
  margin-top: $space-section;
  padding-block: $space-section $space-content * 2;
  background-color: $primary-color;
  background-image: url(../../assets/materials/bg-material-02.svg);
  background-size: 48%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.section-contacts {
  margin-top: $space-section * 2;
  position: relative;
}

.section-blog {
  padding-block: $space-section;
  background-image: url(../../assets/materials/Mask\ Group\ 20.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: left bottom;

  .blog {
    display: flex;
  }

  .blog__cards {
    flex: 2;
  }

  .blog__nav {
    justify-self: flex-end;
    flex: 1;
  }
}
