.section-hero {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: $space-between;

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

    &__txt-box {
      h1 {
        text-transform: uppercase;
        line-height: 0.8;
        font-size: 6rem;
      }
    }

    &__buttons {
      z-index: 30;
      display: flex;
      gap: 2rem;
      margin-top: 8rem;
    }

    &__img-box {
      align-self: center;
      justify-self: end;
      padding: 2rem;
      max-width: 70%;

      border-radius: 1.5rem;
      border: 1px solid var(--color-grey-light);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      background-color: #0b58933a;
    }

    &__img-1 {
      display: block;
      width: 100%;
      height: auto;

      justify-self: end;
    }

    @include respond-down("break4") {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      grid-template-columns: 1fr;

      padding-top: $space-section * 2;

      padding-bottom: $space-section;

      &__img-box {
        order: -1;
        align-self: flex-end;
        justify-self: center;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__txt-box {
        padding: $space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__txt-box h1,
      p {
        // text-align: center;
      }
    }
  }
}

.section-core-features {
  // overflow-x: hidden;
  // background-color: green;
  @include flex-center;
  padding-bottom: $space-section;
  .core-features {
    overflow: hidden;
    padding: $space-between;
    display: flex;
    position: relative;
    top: -6rem;
    gap: $space-between;
    // align-items: end;

    &__text {
      align-self: flex-end;
    }
  }
}

.section-work {
  // overflow-x: hidden;
}

.work {
  display: flex;
  padding-top: $space-section;
  padding-inline: $space-between;
  position: relative;
  &__content {
    overflow-x: hidden;
    // overflow-y: auto;
    width: 50%;
    position: relative;
    padding-block: $space-between;
    padding-left: $space-between;
    left: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;

    h2 {
      position: relative;
    }
  }
}

.section-brands {
  padding-top: $space-section;
  overflow-y: hidden;
  // display: flex;
  // justify-content: center;
  width: 100%;
}

.section-services {
  width: 100vw;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: $space-section;
  background-image: linear-gradient(
    to bottom,
    var(--color-background),
    rgba(#3671ea, 0.8),
    var(--color-background)
  );

  .services {
    padding-bottom: $space-section;
    // overflow-x: hidden;

    &__cards {
      display: flex;
      flex-wrap: nowrap;
      gap: 2.4rem;
      // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      // column-gap: 2rem;
      // row-gap: 4rem;
    }
  }
}

.section-stats {
  padding-block: $space-section;
  @include flex-center;
}

.section-showcase {
  @include flex-center;
  padding-block: $space-section;
}

.section-trust {
  padding-block: $space-section;
  position: relative;

  .trust {
    display: flex;
    flex-direction: column;

    &__title {
      width: 50%;
    }

    &__btn {
      align-self: center;
    }
  }
}

.section-contacts {
  margin-block: $space-section;
  position: relative;
}

.section-blog {
  padding-block: $space-section;

  display: flex;

  padding-left: $space-content;
  padding-bottom: $space-section * 3;
  justify-content: center;
}
